---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'
import NavBar from '../components/NavBar'
import { Image } from 'astro:assets';
import olirum from '../assets/olirum.png';
import { Button } from '@/components/ui/button';
---

<Layout title="Welcome to Astro.">
	<NavBar pathname={Astro.url.pathname} />
	<header class="mx-auto text-center mt-32">A OLIRUM ERODE FOUNDATION & IBF initiative</header>
	<main class="max-w-[944px] mx-auto mt-8">
		<div class="grid justify-center">
			<div class="flex gap-x-8 sm:flex-col sm:gap-y-8">
				<Image alt="olirum foundation logo" src={olirum} />
			</div>
			<a href="/plants" class="mt-8">
				<Button variant="link" className='text-emerald-950 hover:text-emerald-950 font-bold bg-lime-400'>Let's Explore our Native Trees</Button>
			</a>
		</div>
	</main>
</Layout>
