---
import NavBar from "@/components/NavBar";
import PlantList from "@/components/PlantList";
import Layout from "@/layouts/Layout.astro";
import '@/styles/globals.css'

---

<Layout title="species">
  <NavBar pathname="/plants" />
  <div class="w-full px-4 md:w-[960px] md:mx-auto my-12">
    <!-- <div class="max-w-3xl my-12"> -->
      <h2 class="font-semibold text-gray-500">Plant Species</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Details of Variety of Plants</p>
      <!-- <p class="mt-4 text-gray-500">
        Please use filter to filter the list of plant species
      </p> -->
      <PlantList client:only="react" />
    <!-- </div> -->
  </div>
</Layout>